.del-btn{ margin: 10px; float:right;text-align:right;}
.del-btn:hover{cursor:pointer;}

.btn-default:hover, .btn-default:active{
	/*background-color:#AFAFAF !important;*/
	/*color: white;*/
	cursor:pointer !important;
}
tfoot {
    border-top: 1px solid #dddddd !important;
}
tfoot tr > td {
    border-top: none !important;
}

.input-error{
	border: 1px solid red;
}