<html>
    <head>
        {% load staticfiles %}

      <!-- Title and Meta -->
      <title>Flood Monitoring System</title>
      <link rel="icon" href="{% static 'images/favicon.ico' %}">
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	  <!-- Web Fonts  -->
      <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

      <!-- Libs -->
	  <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.css' %}" />
      <link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.min.css' %}" />
      <script src="{% static 'lib/modernizr/modernizr.js' %}"></script>
      <script src="{% static 'lib/jquery/jquery.js' %}"></script>
      <script src="{% static 'lib/bootstrap/js/bootstrap.js' %}"></script>
      <script src="{% static 'lib/nanoscroller/nanoscroller.js' %}"></script>

	  <!-- Default css and js -->
        <link href="{% static 'css/main.css' %}" rel="stylesheet">
        <script src="{% static 'js/main.js'%}"></script>

        <!-- Web Page Unique header content -->
        {% block header %}
        {% endblock %}
    </head>
    <body>
        <!--navbar-->
        <section class="body">
           <!-- start: header -->
           <header class="header">
               <div class="logo-container">
                   <a href="../" class="logo">
                       <img src="{% static 'images/logo.png' %}" height="35" alt="JSOFT Admin" />
                   </a>
                   <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                       <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                   </div>
               </div>
               <!-- start: search & user box -->
               <div class="header-right">
                   <ul class="notifications">
                       <li>
                           <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                           <i class="fa fa-bell"></i>
                           <span class="badge">3</span>
                           </a>
                           <div class="dropdown-menu notification-menu">
                               <div class="notification-title">
                                   <span class="pull-right label label-default">3</span>
                                   Alerts
                               </div>
                               <div class="content">
                                   <ul>
                                       <li>
                                           <a href="#" class="clearfix">
                                               <div class="image">
                                                   {% if object_list.notifications.0.severity_rating == 0 or object_list.notifications.0.severity_rating == 1 %}
                                                       <i class="fa fa-thumbs-up bg-success"></i>
                                                   {% elif object_list.notifications.0.severity_rating == 2 or object_list.notifications.0.severity_rating == 3 %}
                                                       <i class="fa fa-exclamation-triangle bg-warning"></i>
                                                   {% elif object_list.notifications.0.severity_rating == 4 %}
                                                        <i class="fa fa-thumbs-down bg-danger"></i>
                                                   {% else %}
                                                        <i class="fa fa-bell bg-danger"></i>

                                                   {% endif  %}

                                               </div>
                                               <span class="title">{{ object_list.notifications.0.severity_message }}</span>
                                               <span class="message">{{ object_list.notifications.0.time }}</span>
                                           </a>
                                       </li>
                                    <li>
                                       <a href="#" class="clearfix">
                                               <div class="image">
                                                   {% if object_list.notifications.1.severity_rating == 0 or object_list.notifications.1.severity_rating == 1 %}
                                                       <i class="fa fa-thumbs-up bg-success"></i>
                                                   {% elif object_list.notifications.1.severity_rating == 2 or object_list.notifications.1.severity_rating == 3 %}
                                                       <i class="fa fa-exclamation-triangle bg-warning"></i>
                                                   {% elif object_list.notifications.1.severity_rating == 4 %}
                                                        <i class="fa fa-thumbs-down bg-danger"></i>
                                                   {% else %}
                                                        <i class="fa fa-bell bg-danger"></i>

                                                   {% endif  %}

                                               </div>
                                               <span class="title">{{ object_list.notifications.1.severity_message }}</span>
                                               <span class="message">{{ object_list.notifications.1.time }}</span>
                                           </a>
                                       </li>
                                    <li>
                                           <a href="#" class="clearfix">
                                               <div class="image">
                                                   {% if object_list.notifications.2.severity_rating == 0 or object_list.notifications.2.severity_rating == 1 %}
                                                       <i class="fa fa-thumbs-up bg-success"></i>
                                                   {% elif object_list.notifications.2.severity_rating == 2 or object_list.notifications.2.severity_rating == 3 %}
                                                       <i class="fa fa-exclamation-triangle bg-warning"></i>
                                                   {% elif object_list.notifications.2.severity_rating == 4 %}
                                                        <i class="fa fa-thumbs-down bg-danger"></i>
                                                   {% else %}
                                                        <i class="fa fa-bell bg-danger"></i>

                                                   {% endif  %}

                                               </div>
                                               <span class="title">{{ object_list.notifications.2.severity_message }}</span>
                                               <span class="message">{{ object_list.notifications.2.time }}</span>
                                           </a>
                                       </li>
                                   </ul>
                                   <hr />
                                   <div class="text-right">
                                       <a href="/notifications" class="view-more">View All</a>
                                   </div>
                               </div>
                           </div>
                       </li>
                   </ul>
                   <span class="separator"></span>
               </div>
               <!-- end: search & user box -->
           </header>
           <!-- end: header -->
           <div class="inner-wrapper">
           <!-- start: sidebar -->
           <aside id="sidebar-left" class="sidebar-left">
               <div class="sidebar-header">
                   <div class="sidebar-title">
                       Control Panel
                   </div>
                   <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
                       <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                   </div>
               </div>
               <div class="nano">
                   <div class="nano-content">
                       <nav id="menu" class="nav-main" role="navigation">
                           <ul class="nav nav-main">
                               <li>
                                   <a href="../">
                                   <i class="fas fa-chart-area" aria-hidden="true"></i>
                                   <span>Live Stats</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="/notifications/">
                                   <i class="fas fa-bell" aria-hidden="true"></i>
                                   <span>Notifications</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="/test/">
                                   <i class="fas fa-sliders-h" aria-hidden="true"></i>
                                   <span>Test mode</span>
                                   </a>
                               </li>
                               <li>
                                   <a href="/subscribe/">
                                   <i class="fas fa-envelope" aria-hidden="true"></i>
                                   <span>Subscribe</span>
                                   </a>
                               </li>
                           </ul>
                       </nav>
                   </div>
               </div>
           </aside>
           <!-- end: sidebar -->
           <section role="main" class="content-body">
               <header class="page-header">
                   <h2>
                   {% block maintitle %}
                   {% endblock %}
                   </h2>
               </header>
               {% block maincontent %}
               {% endblock %}
           </section>
        </section>
        <!--footer-->
    </body>
</html>
