{% extends "flood_monitoring_system/header.html" %}
{% load staticfiles%}

{% block header %}
<script src="{% static 'lib/canvasjs-2.2/canvasjs.min.js' %}"></script>
<script>

window.onload = function () {

var chart = new CanvasJS.Chart("chartSensor", {
	animationEnabled: true,
	theme: "light2",
	title:{
		text: "Site Traffic"
	},
	axisX:{
		valueFormatString: "DD MMM",
		crosshair: {
			enabled: true,
			snapToDataPoint: true
		}
	},
	axisY: {
		title: "Number of Visits",
        title: "Water Level",
        suffix: "mm",
		crosshair: {
			enabled: true
		}
	},
	toolTip:{
		shared:true
	},
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
	data: [{
		type: "line",
		showInLegend: true,
		name: "{{ object_list.sensor_one.0.hardware_serial }}",
		markerType: "square",
        xValueType: "dateTime",
        xValueFormatString: "DD MMM hh:mm TT",
		color: "#F08080",
		dataPoints: [
			{% for data in object_list.sensor_one %}
                {   x:{{data.time}}, y:{{data.river_height_mm}} },
            {% endfor %}
		]
	},
	{
		type: "line",
		showInLegend: true,
		name: "{{ object_list.sensor_two.0.hardware_serial }}",
        xValueType: "dateTime",
        xValueFormatString: "DD MMM hh:mm TT",
		dataPoints: [
			{% for data in object_list.sensor_two %}
                {   x:{{data.time}}, y:{{data.river_height_mm}} },
            {% endfor %}
		]
	}]
});
chart.render();

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>
{% endblock %}

{#html body#}
{% block maintitle %}Live Stats{% endblock %}

{% block maincontent %}
<div class="row">
    <div class="col-md-12">
       <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Water Levels</h2>
           </header>
           <div class="panel-body">
                <div id="chartSensor" style="height: 400px; width: 100%;"></div>
           </div>
       </section>
   </div>
    <div class="col-md-6">
        <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Live Map</h2>
               <p class="panel-subtitle">Water level data from all over Canterbury. Updates regularly.</p>
           </header>
           <div class="panel-body">
               {% include 'flood_monitoring_system/includes/map_view.html' %}
           </div>
       </section>
    </div>
</div>
{% endblock %}


