{% extends "flood_monitoring_system/header.html" %}
{% load staticfiles%}

{% block header %}
<script src="{% static 'lib/canvasjs-2.2/canvasjs.min.js' %}"></script>
<script>

window.onload = function () {

var chart = new CanvasJS.Chart("chartSensor", {
	animationEnabled: true,
	theme: "light2",
	axisX:{
	    title: "Date and Time",
		valueFormatString: "DD MMM hh:mm TT",
		crosshair: {
			enabled: true,
			snapToDataPoint: true
		}
	},
	axisY: {
        title: "Water Level",
        suffix: "mm",
		crosshair: {
			enabled: true
		}
	},
	toolTip:{
		shared:true
	},
	legend:{
		cursor:"pointer",
		verticalAlign: "bottom",
		horizontalAlign: "left",
		dockInsidePlotArea: true,
		itemclick: toogleDataSeries
	},
    data: [
        {% for device in object_list.sensors_all.results %}
            {
                type: "line",
                showInLegend: true,
                name: "{{ device.location}}",
                markerType: "square",
                xValueType: "dateTime",
                xValueFormatString: "DD MMM hh:mm TT",
                dataPoints: [
                    {% for data in device.time_reading %}
                        {   x:{{data.0}}, y:{{ data.1 }}   },
                    {% endfor %}
                ]
            },
        {% endfor %}
    ]
});
chart.render();

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>
{% endblock %}

{% block maintitle %}Live Stats{% endblock %}

{% block maincontent %}
<div class="row">
    <div class="col-md-12">
       <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Water levels in the river Stour</h2>
           </header>
           <div class="panel-body">
                <div id="chartSensor" style="height: 400px; width: 100%;"></div>
           </div>
       </section>
   </div>
    <div class="col-md-6">
        <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Live Map</h2>
               <p class="panel-subtitle">Water level data from all over Canterbury. Updates regularly.</p>
           </header>
           <div class="panel-body">
               {% include 'flood_monitoring_system/includes/map_view.html' %}
           </div>
       </section>
    </div>
    <div class="col-md-6">
        <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Statistics</h2>
               <p class="panel-subtitle">Here's some interesting insights.</p>
           </header>
           <div class="panel-body">
               <div class="col-md-6">

               </div>
               <div class="col-md-6">
               </div>
               <div class="col-md-6">
               </div>
               <div class="col-md-6">
               </div>
               <div class="col-md-6">
               </div>
               <div class="col-md-6">
               </div>
           </div>
       </section>
    </div>
</div>
{% endblock %}


