{% extends "flood_monitoring_system/header.html" %}
{% load staticfiles%}

{% block header %}
<script src="{% static 'lib/canvasjs-2.2/canvasjs.min.js' %}"></script>
<script>
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartSensorOne", {
            animationEnabled: true,
            title: {
                text: ""
            },
            axisX: {
                title: "Time"
            },
            axisY: {
                title: "Water Level",
                suffix: "mm"
            },
            data: [{
                type: "line",
                name: "CPU Utilization",
                connectNullData: true,
                xValueType: "dateTime",
                xValueFormatString: "DD MMM hh:mm TT",
                dataPoints: [
                    {% for data in object_list.sensor_one %}
                        {   x:{{data.time}}, y:{{data.river_height_mm}} },
                    {% endfor %}
                ]
            }]
        });
        chart.render();
        var chartTwo = new CanvasJS.Chart("chartSensorTwo", {
            animationEnabled: true,
            title: {
                text: ""
            },
            axisX: {
                title: "Time"
            },
            axisY: {
                title: "Water Level",
                suffix: "mm"
            },
            data: [{
                type: "line",
                name: "CPU Utilization",
                connectNullData: true,
                xValueType: "dateTime",
                xValueFormatString: "DD MMM hh:mm TT",
                dataPoints: [
                   {% for data in object_list.sensor_two %}
                        {   x:{{data.time}}, y:{{data.river_height_mm}} },
                    {% endfor %}
                ]
            }]
        });
        chartTwo.render();
    }
</script>
{% endblock %}

{#html body#}
{% block maintitle %}Live Stats{% endblock %}

{% block maincontent %}
<div class="row">
    <div class="col-md-12">
       <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Water Levels - Sensor {{ object_list.sensor_one.0.hardware_serial }}</h2>
           </header>
           <div class="panel-body">
                <div id="chartSensorOne" style="height: 370px; width: 100%;"></div>
           </div>
       </section>
   </div>
    <div class="col-md-12">
       <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Water Levels - Sensor {{ object_list.sensor_two.0.hardware_serial }}</h2>
           </header>
           <div class="panel-body">
                <div id="chartSensorTwo" style="height: 370px; width: 100%;"></div>
           </div>
       </section>
   </div>
    <div class="col-md-6">
        <section class="panel">
           <header class="panel-heading">
               <div class="panel-actions">
                   <a href="#" class="fa fa-caret-down"></a>
                   <a href="#" class="fa fa-times"></a>
               </div>
               <h2 class="panel-title">Live Map</h2>
               <p class="panel-subtitle">Water level data from all over Canterbury. Updates regularly.</p>
           </header>
           <div class="panel-body">
               {% include 'flood_monitoring_system/includes/map_view.html' %}
           </div>
       </section>
    </div>
</div>
{% endblock %}


